<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.justjava">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="JUST JAVA"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustNothing"
            tools:targetApi="jelly_bean">

        </activity>

        <activity android:name=".order_summary"
            android:label="ORDER SUMMARY"
            android:parentActivityName=".indiviual_coffee">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".indiviual_coffee" />
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".indiviual_coffee"
            android:label="ADD TOPPINGS"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>